---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Install afpd required packages
  ansible.builtin.apt:
    name: "{{ afpd_pkgs }}"
    update_cache: true
    state: present

- name: Copy afpd defaults file
  ansible.builtin.copy:
    src: netatalk
    dest: /etc/default/netatalk
  notify:
    - Restart Netatalk

- name: Copy afpd shares configuration
  ansible.builtin.template:
    src: AppleVolumes.default
    dest: /etc/netatalk/AppleVolumes.default
  notify:
    - Restart Netatalk

#- name: update hosts entry in nsswitch config
#  lineinfile:
#    dest: /etc/nsswitch.conf
#    regexp: '^hosts:.*'
#    line: 'hosts: files mdns4_minimal dns mdns4 mdns'
#  notify:
#    - Restart Netatalk

- name: Set system model for afpd
  ansible.builtin.lineinfile:
    dest: /etc/netatalk/afpd.conf
    line: -mimicmodel Xserve
  notify:
    - Restart Netatalk

- name: Template afpd config for ldap authentication
  ansible.builtin.template:
    src: afp_ldap.conf.j2
    dest: /etc/netatalk/afp_ldap.conf
  notify:
    - Restart Avahi Daemon
    - Restart Netatalk
  when: afp_ldap_auth

- name: Add afpd service to local avahi daemon
  ansible.builtin.copy:
    src: afpd.service
    dest: /etc/avahi/services/afpd.service
  notify:
    - Restart Avahi Daemon

- name: Enable afpd service
  ansible.builtin.systemd:
    name: netatalk
    state: started

- name: Enable avahi service
  ansible.builtin.systemd:
    name: avahi-daemon
    state: started
