---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Install autofs
  ansible.builtin.package:
    name: autofs
    state: present
    update_cache: true

- name: Enable pam authentication in ssh server configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    regexp: ^.*UsePam.*$
    line: UsePAM yes
  notify:
    - restart_login_services
  when:
    - ansible_system != 'OpenBSD'
  tags:
    - always

- name: Start rpcbind service (RHEL)
  ansible.builtin.systemd:
    name: rpcbind
    state: started
    enabled: true
  when: ansible_os_family == 'RedHat'

- name: Flush Handlers
  ansible.builtin.meta: flush_handlers

- name: Start AutoFS service
  ansible.builtin.systemd:
    name: autofs
    state: started
    enabled: true
