---
- name: Create auto.master OU
  community.general.ldap_entry:
    server_uri: "{{ openldap_server_uri }}"
    bind_dn: "{{ openldap_server_bind_dn }}"
    bind_pw: "{{ openldap_server_rootpw }}"
    dn: "{{ openldap_auto_master_ou }}"
    objectClass:
      - top
      - automountMap
    attributes:
      ou: auto.master
    state: present
  notify:
    - restart_ns_daemons

- name: Home automount CN
  community.general.ldap_entry:
    server_uri: "{{ openldap_server_uri }}"
    bind_dn: "{{ openldap_server_bind_dn }}"
    bind_pw: "{{ openldap_server_rootpw }}"
    dn: cn=/home,{{ openldap_auto_master_ou }}
    objectClass:
      - top
      - automount
    attributes:
      cn: /home
      automountInformation: ldap:ou=auto.home,{{ openldap_autofs_search_base }} --timeout=60 --ghost
    state: present
  notify:
    - restart_ns_daemons

- name: Create auto.home OU
  community.general.ldap_entry:
    server_uri: "{{ openldap_server_uri }}"
    bind_dn: "{{ openldap_server_bind_dn }}"
    bind_pw: "{{ openldap_server_rootpw }}"
    dn: "{{ openldap_auto_home_ou }}"
    objectClass:
      - top
      - automountMap
    attributes:
      ou: auto.home
    state: present
  notify:
    - restart_ns_daemons

- name: User Directory CNs
  community.general.ldap_entry:
    server_uri: "{{ openldap_server_uri }}"
    bind_dn: "{{ openldap_server_bind_dn }}"
    bind_pw: "{{ openldap_server_rootpw }}"
    dn: cn={{ item.key }},{{ openldap_auto_home_ou }}
    objectClass:
      - top
      - automount
    attributes:
      cn: "{{ item.key }}"
      automountInformation: >-
        -fstype=ceph,{{ cephfs_mount_options }} {{ cephfs_autofs_mount.user }}@{{ cephfs_autofs_mount.fsid }}.{{ cephfs_autofs_mount.fsname }}={{ cephfs_autofs_mount.mount
        }}/{{ item.key }}
    state: present
  notify:
    - restart_ns_daemons
  loop: "{{ ssh_users | default({}) | dict2items }}"
  when: storage_backend == "cephfs"
  loop_control:
    label: "{{ item.key }}"

- name: Update User home directory CNs if needed
  community.general.ldap_attrs:
    dn: cn={{ item.key }},{{ openldap_auto_home_ou }}
    attributes:
      automountInformation: >-
        -fstype=ceph,{{ cephfs_mount_options }} {{ cephfs_autofs_mount.user }}@{{ cephfs_autofs_mount.fsid }}.{{ cephfs_autofs_mount.fsname }}={{ cephfs_autofs_mount.mount
        }}/{{ item.key }}
    state: exact
    bind_dn: "{{ openldap_server_bind_dn }}"
    bind_pw: "{{ openldap_server_rootpw }}"
  loop: "{{ ssh_users | default({}) | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify:
    - restart_ns_daemons
  when:
    - storage_backend == "cephfs"
    - ssh_users is defined
    - ssh_users != None
