---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Update APT Repos # noqa no-handler
  ansible.builtin.apt:
    update_cache: true
  register: cache_updated
  until:
    - cache_updated is not failed

- name: packages-debian | Install APT Packages
  ansible.builtin.apt:
    name: "{{ openldap_client_pkgs }}"
    state: present
  register: apt_install_result
  until: apt_install_result is not failed

- name: Install ssh-ldap-pubkey pip package
  ansible.builtin.include_tasks:
    file: ssh-ldap-pubkey.yml
    apply:
      tags:
        - openldap-sshd
  when:
    - openldap_server_enable_sshkeys | default(true)
  tags:
    - openldap-sshd

- name: Create openldap app path
  ansible.builtin.file:
    state: directory
    dest: "{{ openldap_server_app_path }}"
    mode: "0644"

- name: Copy the ldap.conf app configuration file
  ansible.builtin.template:
    src: ldap.conf.j2
    mode: "0644"
    dest: "{{ openldap_server_app_path }}/ldap.conf"
  notify:
    - restart_login_services
    - restart_ns_daemons

- name: Copy openldap client config
  ansible.builtin.template:
    src: client_ldap.conf.j2
    dest: "{{ openldap_clientconfig }}"
    mode: "0644"
  notify:
    - restart_login_services
    - restart_ns_daemons

- name: Fix common-auth
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/common-auth
    state: present
    line: account required    pam_access.so
  notify:
    - restart_ns_daemons
    - restart_login_services

- name: Fix common-session
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/common-session
    state: present
    line: session required    pam_mkhomedir.so skel=/etc/skel umask=0022
  notify:
    - restart_ns_daemons
    - restart_login_services

- name: Fix common-password
  ansible.builtin.replace:
    path: /etc/pam.d/common-password
    backup: true
    regexp: ^.*use_authtok.*$
    replace: password [success=1 user_unknown=ignore default=die] pam_ldap.so try_first_pass
  notify:
    - restart_ns_daemons
    - restart_login_services

- name: Fix access.conf
  ansible.builtin.lineinfile:
    dest: /etc/security/access.conf
    state: absent
    line: -:ALL EXCEPT root (admin):ALL EXCEPT LOCAL
  notify:
    - restart_ns_daemons
    - restart_login_services

- name: Copy nsswitch.conf
  ansible.builtin.template:
    src: nsswitch.conf.j2
    mode: "0644"
    dest: /etc/nsswitch.conf
  notify:
    - restart_ns_daemons

- name: Copy nslcd.conf
  ansible.builtin.template:
    src: nslcd.conf.j2
    dest: /etc/nslcd.conf
    mode: "0600"
  notify:
    - restart_ns_daemons

- name: Ensure directory for nscd socket exists
  ansible.builtin.file:
    state: directory
    path: /var/run/nscd
    mode: "0755"
  notify:
    - restart_ns_daemons
