---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Install autofs packages and supporting ldap packages
  ansible.builtin.package:
    name: "{{ openldap_autofs_pkgs }}"
    state: present
    update_cache: true

- name: Copy autofs default file
  ansible.builtin.template:
    src: autofs.j2
    dest: "{{ '/etc/default/autofs' if ansible_os_family == 'Debian' else '/etc/sysconfig/autofs' }}"
    mode: "0755"
  notify:
    - Reload AutoFS

- name: Update /etc/autofs_ldap_auth.conf
  ansible.builtin.template:
    src: autofs_ldap_auth.conf.j2
    dest: /etc/autofs_ldap_auth.conf
    mode: "0600"
  notify:
    - Reload AutoFS

- name: Enable pam authentication in ssh server configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    regexp: ^.*UsePam.*$
    line: UsePAM yes
  notify:
    - restart_login_services
  when:
    - openldap_server_enable_posixaccounts
    - ansible_system != 'OpenBSD'
  tags:
    - always

- name: Start rpcbind service
  ansible.builtin.systemd:
    name: rpcbind
    state: started
    enabled: true

- name: Flush Handlers
  ansible.builtin.meta: flush_handlers

- name: Start AutoFS service
  ansible.builtin.systemd:
    name: autofs
    state: "{{ 'reloaded' if autofs_needs_restart | default('false') else 'started' }}"
    enabled: true
