---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Install the openldap client and required Packages for RedHat
  ansible.builtin.dnf:
    name: "{{ openldap_client_pkgs }}"
    state: present
    update_cache: true
  notify:
    - restart_login_services

- name: Install ssh-ldap-pubkey pip package
  ansible.builtin.include_tasks:
    file: ssh-ldap-pubkey.yml
    apply:
      tags:
        - openldap-sshd
  when:
    - openldap_server_enable_sshkeys | default(true)
  tags:
    - openldap-sshd

- name: Copy /etc/ldap.conf for client
  ansible.builtin.template:
    src: client_ldap.conf.j2
    dest: /etc/ldap.conf
    mode: "0644"
  notify:
    - restart_login_services
    - restart_ns_daemons

- name: Copy /etc/sssd/sssd.conf for client
  ansible.builtin.template:
    src: sssd.conf.j2
    dest: /etc/sssd/sssd.conf
    owner: root
    group: root
    mode: "0600"
  notify:
    - restart_login_services
    - restart_ns_daemons
    - Restart SSSD
  when:
    - ansible_distribution_major_version >= "8"

- name: Copy nsswitch.conf
  ansible.builtin.template:
    src: nsswitch.conf.j2
    dest: /etc/nsswitch.conf
    mode: "0644"
  notify:
    - restart_ns_daemons
  when:
    - ansible_distribution_major_version >= "8"

- name: Copy nslcd.conf
  ansible.builtin.template:
    src: nslcd.conf.j2
    dest: /etc/nslcd.conf
    mode: "0640"
  notify:
    - restart_ns_daemons
    - restart_login_services

- name: Run 'authconfig --enableldap --enableldapauth --enablemkhomedir --update'
  ansible.builtin.command: authconfig --enableldap --enableldapauth --enablemkhomedir --update
  when:
    - run_authconfig | default(False)
    - ansible_distribution_major_version < "8"
  register: run_authconfig
  changed_when: run_authconfig is success
