---
- name: Include os specific vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - always

- name: Add /etc/hosts entry for ldap server
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    state: present
    line: "{{ lookup('dig', item ~ '.' ~ www_domain) }} {{ item }}.{{ www_domain }} {{ item }}"
  when:
    - groups['ldapservers'] is defined
    - groups['ldapservers'] | length > 0
  loop: "{{ groups['ldapservers'] | flatten }}"
  tags:
    - openldap-hosts

- name: Configure LDAP Client
  ansible.builtin.include_tasks:
    file: ldap_client_install.yml
    apply:
      tags:
        - openldap-client
  tags:
    - openldap-client
    - openldap-sshd

- name: ssh | Configure sshd for SSSD authorized keys
  tags:
    - openldap-sshd
  block:
    - name: ssh | Ensure PAM is enabled for sshd
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        state: present
        regexp: ^(?:#)?UsePAM\s+.*$
        line: "UsePAM yes"
      when:
        - ansible_system != 'OpenBSD'
      notify: Restart SSHD

    - name: ssh | AuthorizedKeysCommand via SSSD
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        state: present
        regexp: ^(?:#)?AuthorizedKeysCommand\s+.*$
        line: "AuthorizedKeysCommand {{ openldap_ldap_pubkey_wrapper }}"
      notify: Restart SSHD

    - name: ssh | AuthorizedKeysCommandUser via SSSD
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        state: present
        regexp: ^(?:#)?AuthorizedKeysCommandUser\s+.*$
        line: "AuthorizedKeysCommandUser {{ openldap_ldap_pubkey_user | default('nobody') }}"
      notify: Restart SSHD

- name: Include AutoFS installation tasks
  ansible.builtin.include_tasks:
    file: ldap_autofs_install.yml
    apply:
      tags:
        - openldap-automount
  when:
    - shared_storage | default(false) | bool
  tags:
    - openldap-automount

- name: Include ldap autofs configuration tasks
  ansible.builtin.include_tasks:
    file: ldap_autofs_configure.yml
    apply:
      tags:
        - openldap-automount
  when:
    - openldap_print_server_commands | default(false) | bool
  tags:
    - openldap-automount
