---
- name: Include os specific vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - always

- name: Add /etc/hosts entry for ldap server
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    state: present
    line: "{{ openldap_server_ip }} {{ openldap_server_domain_name }} {{ openldap_server_domain_name.split('.')[0] }}"
  tags:
    - openldap-hosts

- name: Configure LDAP Client
  ansible.builtin.include_tasks:
    file: ldap_client_install.yml
    apply:
      tags:
        - openldap-client
  tags:
    - openldap-client
    - openldap-sshd

- name: ssh | Configure sshd for SSSD authorized keys
  when:
    - ansible_system != 'OpenBSD'
  tags:
    - openldap-sshd
  block:
    - name: ssh | Remove all lines matching the pattern
      ansible.builtin.replace:
        path: "/etc/ssh/sshd_config"
        regexp: "^#?{{ item.match }}\\s+.*$\\n"
        replace: ""
      loop:
        - match: "AuthorizedKeysCommand"
          line: "AuthorizedKeysCommand {{ openldap_ldap_pubkey_wrapper }}"
        - match: "AuthorizedKeysCommandUser"
          line: "AuthorizedKeysCommandUser {{ openldap_ldap_pubkey_user | default('nobody') }}"
    - name: ssh | Ensure line is present for PAM authentication
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        state: present
        regexp: "^#?{{ item.match }}\\s+.*$\\n"
        line: "{{ item.line }}"
      notify: Restart SSHD
      loop:
        - match: "AuthorizedKeysCommand"
          line: "AuthorizedKeysCommand {{ openldap_ldap_pubkey_wrapper }}"
        - match: "AuthorizedKeysCommandUser"
          line: "AuthorizedKeysCommandUser {{ openldap_ldap_pubkey_user | default('nobody') }}"

- name: Include AutoFS installation tasks
  ansible.builtin.include_tasks:
    file: ldap_autofs_install.yml
    apply:
      tags:
        - openldap-automount
  when:
    - shared_storage | default(false) | bool
  tags:
    - openldap-automount

- name: Include ldap autofs configuration tasks
  ansible.builtin.include_tasks:
    file: ldap_autofs_configure.yml
    apply:
      tags:
        - openldap-automount
  when:
    - openldap_print_server_commands | default(false) | bool
  tags:
    - openldap-automount
