---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: Install samba and required Packages for RedHat
  ansible.builtin.package:
    name: "{{ samba_pkgs }}"
    state: present

- name: Create samba config directory
  ansible.builtin.file:
    path: /etc/samba
    state: directory
    mode: 755

- name: Create smbldap config directory
  ansible.builtin.file:
    path: /etc/smbldap-tools
    state: directory
    mode: 755

- name: Copy Samba configuration
  ansible.builtin.template:
    src: smb.conf.j2
    dest: /etc/samba/smb.conf
  notify: smbldap populate

- name: Copy smbldap.conf
  ansible.builtin.template:
    src: smbldap.conf.j2
    dest: /etc/smbldap-tools/smbldap.conf
  notify: smbldap populate

- name: Copy smbldap_bind.conf
  ansible.builtin.template:
    src: smbldap_bind.conf.j2
    dest: /etc/smbldap-tools/smbldap_bind.conf
  notify: smbldap populate

- ansible.builtin.meta: flush_handlers
- name: Generate password db
  ansible.builtin.command: smbpasswd -w {{ openldap_server_rootpw }}
  when: smbldap_populate | default(False)

- name: Populate smbldap database
  ansible.builtin.shell: |
    smbldap-populate -g 10000 -u 10000 -r 10000 <<EOF
    {{ openldap_server_rootpw }}
    {{ openldap_server_rootpw }}
    EOF
  args:
    executable: /bin/bash
  when: smbldap_populate | default(False)

- name: Add users to Samba
  ansible.builtin.shell: |
    smbpasswd -s -a {{ item.key }} <<EOF
    {{ item.value.password }}
    {{ item.value.password }}
    EOF
  args:
    executable: /bin/bash
  loop: "{{ ssh_users | dict2items }}"
  when: smbldap_populate | default(False)

- name: Inform Samba about RootDN password
  ansible.builtin.shell: smbpasswd -w {{ openldap_server_rootpw }}
  when: smbldap_populate | default(False)

- name: Restart Samba services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
    enabled: true
  loop:
    - nmbd
    - smbd
  when: smbldap_populate | default(False)
