---
- name: Wait for locks
  ansible.builtin.include_tasks:
    file: wait_for_locks.yml

- name: ssh-ldap-pubkey | If pipx is present, remove all installed packages
  block:
    - name: ssh-ldap-pubkey | Check for pipx installation
      ansible.builtin.command:
        cmd: command -v pipx
      register: pipx_check
      failed_when: false
      changed_when: pipx_check.changed

    - name: ssh-ldap-pubkey | Remove all pipx packages
      community.general.pipx:
        uninstall_all: true
      failed_when: false
      when: pipx_check.rc == 0

- name: ssh-ldap-pubkey | Ensure pipx is uninstalled from system
  block:
    - name: ssh-ldap-pubkey | OS package manager uninstall pipx
      ansible.builtin.package:
        name: pipx
        state: absent

- name: ssh-ldap-pubkey | Install python3-sshpubkeys
  ansible.builtin.package:
    name: python3-sshpubkeys
    state: present

- name: Append ssh-ldap-pubkey wrapper configs to sshd_config
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    line: AuthorizedKeysCommand {{ openldap_ldap_pubkey_wrapper }}
  notify:
    - restart_login_services

- name: Append ssh-ldap-pubkey user configs to sshd_config
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    line: AuthorizedKeysCommandUser {{ openldap_ldap_pubkey_user }}
  notify:
    - restart_login_services
