---
- name: Restart SSSD
  listen: restart_login_services
  ansible.builtin.systemd:
    name: sssd
    state: restarted
    enabled: true

- name: Restart SSHD
  listen: restart_login_services
  ansible.builtin.systemd:
    name: "{{ sshd_service }}"
    state: restarted
    enabled: true
    daemon_reload: true

- name: Restart SystemD LoginD
  listen: restart_login_services
  ansible.builtin.systemd:
    name: systemd-logind
    state: restarted
    enabled: true

- name: Reload AutoFS
  ansible.builtin.systemd:
    name: autofs
    state: restarted
    enabled: true
