# Netatalk 2.x LDAP configuration

ldap_server      = {{ openldap_server_domain_name }}
ldap_auth_method = simple
ldap_auth_dn     = {{ openldap_server_bind_dn }}
ldap_auth_pw     = {{ openldap_server_rootpw }}
ldap_userbase    = {{ users_ou }}
ldap_userscope   = one
ldap_groupbase   = {{ groups_ou }}
ldap_groupscope  = one
ldap_uuid_attr   = uidNumber
ldap_name_attr   = uid
ldap_group_attr  = cn