<?xml version="1.0" ?>
<autofs_ldap_sasl_conf
	usetls={% if openldap_server_enable_tls %}"yes"{% else %}"no"{% endif %}

	tlsrequired={% if openldap_server_enable_tls %}"yes"{% else %}"no"{% endif %}

	authrequired="simple"
	authtype="LOGIN"
	user="{{ openldap_server_bind_dn }}"
	secret="{{ openldap_server_rootpw }}"
/>
