URI {{ openldap_ldap_uri }}
BASE {{ openldap_search_base }}
{% if openldap_ldap_id_use_start_tls | default(false) %}
{% if openldap_ldap_tls_cacert != none %}
TLS_CACERT {{ openldap_ldap_tls_cacert }}
{% endif %}
{% if openldap_ldap_tls_reqcert != none %}
TLS_REQCERT {{ openldap_ldap_tls_reqcert }}
{% endif %}
{% endif %}
LDAP_VERSION 3
