{% set secure = openldap_secure | default('none') %}
{% if secure == "starttls" %}
# StartTLS
URI ldap://{{ openldap_server_domain_name }}
BASE {{ openldap_search_base }}
TLS_CACERT {{ ssl_certpath }}
TLS_REQCERT demand
{% elif secure == "ldaps" %}
# LDAPS Legacy SSL
URI ldaps://{{ openldap_server_domain_name }}
BASE {{ openldap_search_base }}
TLS_CACERT {{ ssl_certpath }}
TLS_REQCERT demand
{% else %}
# LDAP without encryption (LAB ONLY)
URI ldap://{{ openldap_server_domain_name }}
BASE {{ openldap_search_base }}
{% endif %}
LDAP_VERSION 3
