#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE   {{ openldap_server_dc }} 
{% if openldap_server_enable_ssl %}
URI     ldaps://{{ openldap_server_domain_name }}
TLS_REQCERT never
{% endif %}
{% if not openldap_server_enable_ssl %}
URI     ldap://{{ openldap_server_domain_name }}
{% endif %}

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never
{% if ansible_os_family == 'RedHat' %}
TLS_CACERTDIR /etc/openldap/cacerts
TLS_CACERT /etc/openldap/certs/{{ openldap_server_domain_name }}.crt
{% endif %}
{% if ansible_os_family == 'Debian' %}
TLS_CACERTDIR /etc/ldap/certs
TLS_CACERT /etc/ldap/certs/{{ openldap_server_domain_name }}.crt
{% endif %}
