#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE            {{ openldap_server_dc }}

{% if openldap_server_enable_tls %}
URI             ldaps://{{ openldap_server_fqdn }}
TLS_REQCERT     {{ openldap_tls_reqcert | default('allow') }}
{% else %}
URI             ldap://{{ openldap_server_fqdn }}
{% endif %}
#SIZELIMIT       12
#TIMELIMIT       15
#DEREF           never

{% if openldap_server_enable_tls %}
TLS_CACERTDIR {{ openldap_server_cert_path }}
TLS_CACERT {{ openldap_server_cert_path }}/{{ openldap_server_fqdn }}.crt
{% endif %}
