# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid {{ openldap_nslcd_user }}
gid {{ openldap_nslcd_group }}

# The search base that will be used for all queries.
base {{ openldap_server_dc }}

# The location at which the LDAP server(s) should be reachable.
{% if openldap_server_enable_tls %}
uri ldaps://{{ openldap_server_fqdn }}
tls_reqcert {{ openldap_server_tls_reqcert | default('allow') }}
{% else %}
uri ldap://{{ openldap_server_fqdn }}
{% endif %}

# The DN to bind with for normal lookups.
binddn {{ openldap_server_bind_dn }}
bindpw {{ openldap_server_rootpw }}
