# /etc/nsswitch.conf
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

passwd: compat ldap
group: compat ldap
shadow: compat ldap
{% if 'afpd' in group_names %}
hosts: files mdns4_minimal dns mdns4 mdns
{% else %}
hosts:          files dns
{% endif %}
networks:       files

protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

{% if shared_storage is defined and shared_storage %}
automount:      files ldap
{% else %}
automount:      files
{% endif %}
