# /etc/nsswitch.conf
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

{% if ansible_os_family == "RedHat" and ansible_distribution_major_version is version('8', '>=') %}
passwd:     sss files systemd compat ldap
group:      sss files systemd compat ldap
netgroup:   sss files
{% if shared_storage is defined and shared_storage %}
automount:      sss files ldap
{% else %}
automount:      sss files
{% endif %}
services:   sss files
shadow:     files sss compat ldap
{% if 'afpd' in group_names %}
hosts: files sss mdns4_minimal dns mdns4 mdns myhostname
{% else %}
hosts:          files dns myhostname
{% endif %}

bootparams: files

ethers:     files
netmasks:   files
networks:   files
protocols:  files
rpc:        files



{% elif ansible_os_family == "Debian" %}

bootparams: files
ethers:     files
netmasks:   files
networks:   files
protocols:  files
rpc:        files

passwd: compat ldap
group: compat ldap
shadow: compat ldap
{% if 'afpd' in group_names %}
hosts: files mdns4_minimal dns mdns4 mdns
{% else %}
hosts:          files dns
{% endif %}
networks:       files

protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

{% if shared_storage is defined and shared_storage %}
automount:      files ldap
{% else %}
automount:      files
{% endif %}

{% endif %}
