include         {{ openldap_server_app_path}}/schema/core.schema
include         {{ openldap_server_app_path}}/schema/cosine.schema
include         {{ openldap_server_app_path}}/schema/inetorgperson.schema
include         {{ openldap_server_app_path}}/schema/nis.schema
include         {{ openldap_server_app_path}}/schema/openssh-lpk.schema
include         {{ openldap_server_app_path}}/schema/samba.schema
include         {{ openldap_server_app_path}}/schema/autofs.schema
pidfile         /var/run/slapd/slapd.pid

argsfile        /var/run/slapd/slapd.args

loglevel        none

modulepath      /usr/lib/ldap
moduleload      back_bdb.la


access to *
                by self write
                by dn.base="cn=Manager,{{ openldap_server_dc }}" write
                by * read
access to attrs=userPassword
                by self write
                by anonymous auth
                by dn.base="cn=Manager,{{ openldap_server_dc }}" write
                by * none
access to attrs=shadowLastChange
                by self write
                by * read

database config
rootdn "cn=admin,cn=config"
rootpw {{ root_password.stdout }}

database        bdb
suffix          "{{ openldap_server_dc }}"
rootdn          "cn=Manager,{{ openldap_server_dc }}"
rootpw          {{ root_password.stdout }}
#This directory has to be created and would contain the ldap database.
directory       /var/lib/ldap/{{ openldap_server_fqdn }}/
index objectClass                       eq,pres
index ou,cn,mail,surname,givenname      eq,pres,sub
index uidNumber,gidNumber,loginShell    eq,pres
index uid,memberUid                     eq,pres,sub
index nisMapName,nisMapEntry            eq,pres,sub

{% if openldap_server_enable_tls %}
TLSCertificateFile {{ ssl_certpath }}
TLSCertificateKeyFile {{ ssl_keypath }}
{% endif %}
