# # Primary Domain Controller smb.conf

# # Global parameters
[global]
workgroup = WORKGROUP
netbios name = {{ openldap_server_domain_name.split('.')[0] }}
passdb backend =ldapsam:"ldap://{{ openldap_server_domain_name }}"
username map = /etc/samba/smbusers
log level = 1
#syslog = 1
log file = /var/log/samba/%m
max log size = 0
add user script = /usr/sbin/smbldap-useradd -m '%u'
delete user script = /usr/sbin/smbldap-userdel '%u'
add group script = /usr/sbin/smbldap-groupadd -p '%g'
delete group script = /usr/sbin/smbldap-groupdel '%g'
add user to group script = /usr/sbin/smbldap-groupmod -m '%g' '%u'
delete user from group script = /usr/sbin/smbldap-groupmod -x '%g' '%u'
set primary group script = /usr/sbin/smbldap-usermod -g '%g' '%u'
add machine script = /usr/sbin/smbldap-useradd -w '%u'
#shutdown script = /var/lib/samba/scripts/shutdown.sh
#abort shutdown script = /sbin/shutdown -c
#logon script = %u.bat
#logon path = \\192.168.0.4\profiles\%u
#logon path = \\nodes.differentialdesign.org\profiles\%u
#ldapsam:trusted = yes
ldap suffix = dc={{ openldap_server_domain_name.split('.')[0] }},dc={{ openldap_server_domain_name.split('.')[1] }},dc={{ openldap_server_domain_name.split('.')[2] }},dc={{ openldap_server_domain_name.split('.')[3] }}
ldap machine suffix = ou=computers
ldap user suffix = ou=users
ldap group suffix = ou=groups
ldap idmap suffix = ou=Idmap
ldap admin dn = cn=Manager,{{ openldap_server_dc }}

{% if openldap_server_enable_ssl %}
ldap ssl = on
{% else %}
ldap ssl = off
{% endif %}

ldap passwd sync = yes
#========================Share Definitions=========================

[homes]
 comment = Home Directories
 valid users = %S
 browseable = yes
 writable = yes
 create mask = 0600
 directory mask = 0700

#[netlogon]
#comment = Network Logon Service
#path = /data/samba/netlogon
#writeable = yes
#browseable = yes
#read only = no

#[profiles]
#path = /data/samba/profiles
#writeable = yes
#browseable = no
#read only = no
#create mode = 0777
#directory mode = 0777

{% if shared_storage %}
[data]
comment = CephFS Data
path = /data
writeable = yes
browseable = yes
read only = no
valid users = "@admin"
{% endif %}
