# # Primary Domain Controller smb.conf

# # Global parameters
[global]
workgroup = WORKGROUP
passdb backend = ldapsam:"{% if openldap_server_enable_tls %}ldaps{% else %}ldap{% endif %}://{{ openldap_server_fqdn }}"
log level = 1
log file = /var/log/samba/%m
max log size = 0
add user script = /usr/sbin/smbldap-useradd -m '%u'
delete user script = /usr/sbin/smbldap-userdel '%u'
add group script = /usr/sbin/smbldap-groupadd -p '%g'
delete group script = /usr/sbin/smbldap-groupdel '%g'
add user to group script = /usr/sbin/smbldap-groupmod -m '%g' '%u'
delete user from group script = /usr/sbin/smbldap-groupmod -x '%g' '%u'
set primary group script = /usr/sbin/smbldap-usermod -g '%g' '%u'
add machine script = /usr/sbin/smbldap-useradd -w '%u'
ldap suffix = dc={{ openldap_server_fqdn.split('.')[0] }},dc={{ openldap_server_fqdn.split('.')[1] }},dc={{ openldap_server_fqdn.split('.')[2] }},dc={{ openldap_server_fqdn.split('.')[3] }}
ldap machine suffix = ou=computers
ldap user suffix = ou=users
ldap group suffix = ou=groups
ldap idmap suffix = ou=Idmap
ldap admin dn = cn=Manager,{{ openldap_server_dc }}

{% if openldap_server_enable_tls %}
ldap ssl = on
{% else %}
ldap ssl = off
{% endif %}

ldap passwd sync = yes
#========================Share Definitions=========================

[homes]
 comment = Home Directories
 valid users = %S
 browseable = yes
 writable = yes
 create mask = 0600
 directory mask = 0700

{% for share in smb_shares %}
[{{ share.name }}]
comment = {{ share.comment }}
path = {{ share.path }}
writeable = {{ share.writeable }}
browseable = {{ share.browseable }}
read only = {{ share.read_only }}
valid users = {{ share.valid_users }}
{% endfor %}

{% if shared_storage %}
[data]
comment = CephFS Data
path = /data
writeable = yes
browseable = yes
read only = no
valid users = "@admin"
{% endif %}
