
############################
# Credential Configuration #
############################
# Note: you can specify two different configurations if you use a
# master ldap for writing access and a slave ldap server for reading access
# By default, we will use the same DN (so it will work for standard Samba
# release)
slaveDN="cn=Manager,{{ openldap_server_dc }}"
slavePw="{{ openldap_server_rootpw }}"
masterDN="cn=Manager,{{ openldap_server_dc }}"
masterPw="{{ openldap_server_rootpw }}"
