[sssd]
services = {{ (['nss','pam','sudo','ssh'] + (['autofs'] if shared_storage | default(false) | bool else [])) | join(',') }}
config_file_version = 2
domains = default

[domain/default]
id_provider = ldap
auth_provider = ldap
access_provider = ldap
chpass_provider = ldap
sudo_provider = ldap
cache_credentials = True
ldap_search_base = {{ openldap_search_base }}
ldap_default_bind_dn = {{ openldap_client_bind_dn | default('cn=monitor,' ~ openldap_search_base) }}
ldap_default_authtok_type = password
ldap_default_authtok = {{ openldap_client_bind_pw | default(vault_ldap_monitor_password) }}
ldap_search_timeout = 50
ldap_network_timeout = 60
ldap_access_filter = (objectClass=posixAccount)
sudo_search_base = {{ openldap_sudo_search_base }}
ldap_sudo_full_refresh_interval = 86400
ldap_sudo_smart_refresh_interval = 3600
ldap_user_ssh_public_key = sshPublicKey
{% set secure = openldap_secure | default('none') %}
{% if secure == "starttls" %}
# StartTLS
ldap_uri = ldap://{{ openldap_server_domain_name }}
ldap_id_use_start_tls = True
ldap_tls_reqcert = demand
ldap_tls_cacert = {{ ssl_certpath }}
{% elif secure == "ldaps" %}
# LDAPS Legacy SSL
ldap_uri = ldaps://{{ openldap_server_domain_name }}
ldap_id_use_start_tls = False
ldap_tls_reqcert = demand
ldap_tls_cacert = {{ ssl_certpath }}
{% else %}
# LDAP without encryption
ldap_uri = ldap://{{ openldap_server_domain_name }}
ldap_id_use_start_tls = False
{% endif %}

{% if shared_storage | default(false) | bool %}
autofs_provider = ldap
ldap_autofs_search_base = {{ openldap_autofs_search_base }}
ldap_autofs_map_object_class = automountMap
ldap_autofs_entry_object_class = automount
ldap_autofs_map_name = ou
ldap_autofs_entry_key = cn
ldap_autofs_entry_value = automountInformation
{% endif %}

