{% set sssd_config = openldap_sssd_conf_defaults | combine(openldap_sssd_conf | default({}), recursive=true) %}
{% for section, options in sssd_config.items() %}
[{{ section }}]
{% for option, value in options.items() %}
{% if value is not none %}
{% if value is sequence and value is not string %}
{{ option }} = {{ value | join(',') if option == 'services' else value | join(' ') }}
{% elif value is boolean %}
{{ option }} = {{ value | string | lower }}
{% else %}
{{ option }} = {{ value }}
{% endif %}
{% endif %}
{% endfor %}

{% endfor %}
